# These can be found at the discord developer portal
DISCORD_APPLICATION_ID=
DISCORD_TOKEN=

# should always be mysql2, since that's the only
# installed driver
DB_CLIENT=mysql2
# These can be found in docker-compose.yml
# Provided values will be correct for a local database using docker
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=testing
DB_DATABASE=local

# Only needed if you'd like to test the spooktober command
# can be left blank if not needed
GIPHY_API_KEY=

# Emoji name, defaults to :upvote:
QCC_EMOJI_NAME=
# Number of upvotes required, defaults to 5
QCC_MIN_EMOJI_COUNT=
# Required, use a channel that the bot can access
QCC_CHANNEL_ID=

AOC_SESSION_COOKIE=
AOC_LEADERBOARD_URL=